<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">

    <menu>
        <add id="Magentoready_ProductQA::questions"
             title="Product Questions"
             module="Magentoready_ProductQA"
             sortOrder="90"
             parent="Magento_Catalog::catalog"
             resource="Magentoready_ProductQA::questions"
             action="productqa/question/index"/>
    </menu>

</config>
